<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>dsdsds</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./dist/css/main.css">
</head>
<body>
  <div class="wrapper">
    <section class="container">
      <h3 class="title">Cotizador de Criptomonedas</h3>
      <form class="form-criptomonedas" action="">
        <div class="input-group">
          <label for="moneda">Moneda</label>
          <select name="" id="moneda" class="select">
            <option value="">Seleccionar</option>
          </select>
        </div>
        <div class="input-group">
          <label for="criptomoneda">Criptomoneda</label>
          <select name="" id="criptomoneda" class="select">
            <option value="">Seleccionar</option>
          </select>
        </div>
        <button type="button" class="btn btn--primary">Cotizar</button>
      </form>
      <div class="result loading" style="display:none;">
        <div class="box-loader">
          <img class="loader" src="./src/images/loader.gif" alt="Loader...">
        </div>
        <div class="box-result">
          <p>
            <span class="label">Precio etherium</span>
            <span> 12000</span>
          </p>
          <p>
            <span class="label">Ultima hora</span>
            <span> 120</span>
          </p>
          <p>
            <span class="label">Ultimos 7 dias</span>
            <span> 12000</span>
          </p>
          <p>
            <span class="label">Ultima actualizacion</span>
            <span> 12000</span>
          </p>
        </div>
      </div>
    </section>
  </div>
  <!-- <script src="http://localhost:8080/js/bundle.js"></script> -->
  <!-- <script src="./dist/js/bundle.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>